@model SGA.Models.NonHazardou

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NonHazardou</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteNameGdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteNameGdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaGdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaGdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIntoWarehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIntoWarehouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOutoWarehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOutoWarehouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManifestNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManifestNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnToClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnToClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteGeneratorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteGeneratorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionAuthorizationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionAuthorizationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionCenterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionCenterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionCenterAuthorizationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionCenterAuthorizationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReuseCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReuseCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReuseCompanyAuthorizationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReuseCompanyAuthorizationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDisposalCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDisposalCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDisposalAuthorizationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDisposalAuthorizationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SealedManifests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SealedManifests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NonHazardousId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
